* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flex-left-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.padding {
  padding: 10px;
}

.button {
  background-color: #f2f2f2;
  border-radius: 4px;
  border-width: 2px 2px 6px 6px;
  border-style: outset;
  min-width: 48px;
  min-height: 48px;
  padding: 10px 10px 0px 30px;
  color: #404040;
  margin: 30px 10px 30px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.button:active {
  border-width: 2px;
  margin-right: 14px;
  margin-bottom: 5px;
}

.message {
}

.dos-prompt-screen {
  background-color: blue;
  color: white;
  font-size: 14px;
  font-family: 'Press Start 2P', monospace;
  padding: 20px;
  border-radius: 10px;
}

.dos-prompt-text {
  color: white;
  font-size: 14px;
  font-family: 'Press Start 2P', monospace;
}

.author {
}

.permalink {
}

.header {
      font-size: 30px;
  font-family: 'Press Start 2P', monospace;
}

.right-align {
  text-align: right;
  align-self: flex-end;
}

a {
  text-decoration:  none;
  text-decoration-color: color: #404040;
  color: #404040;
}

main {
  max-width: 800px;
}